.li-container {
    width: 450px;
    min-height: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
}

.trash {
    width: 25px;
    height: 25px;
}

.trash-container {
    margin-left: auto;
    cursor: pointer;
}

.description-container {
    margin-left: 20px;
}

@media (max-width: 575.98px) {
    .li-container {
        align-items: start;
    }
}