.customRecipe-container {
    min-height: 550px;
    width: 550px;
    background-color: #60737e;
    margin: auto;
    border-radius: 10px;
}

.main-title {
    margin-top: 20px;
}

input[type="file"] {
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 15px;
}


/* .li-container {
    width: 450px;
} */

.p-customRecipe {
    font-weight: bolder;
}

input[type="file"]::file-selector-button {
    background-color: #a2b5bb;
    border: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 40px;
}

.btn-add-item {
    background-color: #60737e;
    border: none;
    margin-left: 5px;
    color: white;
}

.btn-add-item-icon {
    height: 20px;
    width: 20px;
}

.btn-add-recipe {
    background-color: #a2b5bb;
    border-radius: 10px;
    border: none;
    height: 40px;
    border: 3px solid #4c5f6b;
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 575.98px) {
    .customRecipe-container {
        width: 375px;
        margin: auto;
        margin-top: 20px;
    }
    .form-container {
        width: 300px;
        margin: auto;
        padding: 0;
    }
    .btn-add-item {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    input[type="file"] {
        margin: auto;
        width: 250px;
        margin-bottom: 10px;
    }
    .li-container {
        width: 300px;
        margin: 0;
    }
}