.single-input {
    width: 420px;
}

.preparation-input-group {
    width: 420px;
}

.ingredient-input-group {
    width: 420px;
}

@media (max-width: 575.98px) {
    .single-input {
        width: 270px;
    }
    .preparation-input-group {
        width: 270px;
    }
    .ingredient-input-group {
        width: 270px;
    }
    .btn-add-item {
        padding: 0;
    }
}