@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Dosis:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Mouse+Memoirs&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");
.screen-container {
    display: flex;
    gap: 150px;
    margin-left: auto;
}

.recipe-overview {
    width: 800px;
    min-height: 800px;
    font-family: "helvetica neue";
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 20px;
    position: relative;
    border: 3px white solid;
}

.section-one {
    min-height: 280px;
}

.section-two {
    min-height: 500px;
    display: flex;
    background-color: #60737e;
    margin-top: -50px;
    padding-top: 40px;
    clip-path: polygon( 20% 0%, 0 0, 100% 17%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
}

.recipe-img {
    height: 270px;
    width: 250px;
    padding: 15px;
    padding-top: 0;
    margin-top: 25px;
    margin-left: 30px;
}

.img-description-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-right: auto;
}

.description-title-wrapper {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 200px; */
    align-items: center;
    justify-content: center;
    /* margin: auto; */
    /* margin-right: 200px;
    margin-bottom: 165px; */
}

.main-title {
    /* margin-top: 15px; */
    margin-bottom: 0;
    font-size: 40px;
    /* font-weight: 900; */
    font-family: "BhuTuka Expanded One", cursive;
    font-family: "Mouse Memoirs", sans-serif;
    letter-spacing: 4px;
}

.description {
    text-align: center;
    margin-top: 15px;
}

.views {
    text-align: center;
    margin-bottom: 3px;
    font-size: large;
    font-weight: bold;
}

.views-rating-wrapper {
    float: right;
    padding: 0;
    margin-right: 50px;
    margin-top: 10px;
}

.title {
    font-family: "BhuTuka Expanded One", cursive;
    font-family: "Mouse Memoirs", sans-serif;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: 500;
    color: white;
}

.ingredients-title {
    text-align: start;
    margin-left: 35px;
    margin-top: 20px;
}

.ingredient {
    text-align: start;
    margin-left: 35px;
    color: white;
}


/* .ingredient-container {
    margin-top: 10px;
} */

.wrapped-heart {
    width: 58px;
    height: 58px;
    border: 2x solid black;
    font-size: 0;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    color: #60737e;
    margin-top: 20px;
    margin: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

.wrapped-heart:hover {
    background-color: #d5bbc4;
}

.preparation-container {
    margin-left: 58px;
    overflow: auto;
    max-height: 90%;
    margin-top: 60px;
}

.preparation-title {
    margin-right: 35px;
    margin-top: 40px;
}

.li-preparation {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    list-style: none;
}

.preparation {
    margin-right: 35px;
    color: white;
}

.heart-save {
    height: 30px;
    width: 30px;
    margin-top: auto;
    margin-top: 17px;
}

.author {
    text-align: right;
    margin-top: auto;
    font-size: 30px;
    font-family: "Gamja Flower", cursive;
    color: white;
    margin-left: auto;
    margin-right: 35px;
}

@media (max-width: 575.98px) {
    .screen-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .recipe-overview {
        width: 375px;
        margin: auto;
        margin-top: 10px;
    }
    .main-title {
        font-size: 20px;
        font-weight: bold;
        margin-top: 35px;
    }
    .recipe-img {
        height: 160px;
        width: 150px;
        padding: 0px;
        margin-right: 25px;
        margin-top: 15px;
    }
    .description-title-wrapper {
        margin-right: 30px;
        height: 10px;
    }
    .img-description-title-wrapper {
        /* height: 200px; */
    }
    .rating-container {
        margin-left: 80px;
    }
    .views-rating-wrapper {
        width: 100%;
        margin: auto;
    }
    .description-title-wrapper {
        margin-left: 30px;
    }
    /* .recipe-overview {
        background-image: -webkit-linear-gradient(77deg, #60737e 76%, white 59%);
    } */
    .section-one {
        min-height: 250px;
    }
    .section-two {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: polygon( 20% 0%, 0 0, 100% 6%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
    }
    .preparation-container {
        margin-left: 0px;
        padding: 0;
        margin-top: 20px;
    }
    .ingredients-container {
        padding: 20px;
    }
    .ingredient {
        margin-left: 0;
    }
    .wrapped-heart {
        width: 50px;
        height: 50px;
        /* margin: auto; */
        position: static;
        margin-bottom: 35px;
    }
    .heart-save {
        height: 25px;
        margin-top: 15px;
    }
    .ingredients-title {
        margin-left: 0px;
    }
    .preparation-title {
        margin: 0;
        margin-bottom: 10px;
    }
    .li-preparation {
        margin-bottom: 20px;
    }
    .description {
        text-overflow: ellipsis;
    }
    /* .preparation {
        margin: 0;
    } */
    .ingredient {
        margin-left: 10px;
    }
    .author {
        /* margin-right: 15px;
        margin-bottom: 3px; */
        margin: auto;
        text-align: center;
    }
    .views {
        margin-left: 180px;
    }
    .votes {
        margin-left: 0;
        font-size: 15px;
    }
}