@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Dosis:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Mouse+Memoirs&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");
.screen-container {
    display: flex;
    gap: 150px;
    margin-left: auto;
}

.recipe-overview {
    width: 800px;
    background-color: #e4e9fd;
    background-image: -webkit-linear-gradient(70deg, #60737e 55%, white 55%);
    max-height: 800px;
    font-family: "helvetica neue";
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 20px;
}

.section-one {
    min-height: 280px;
}

.section-two {
    min-height: 500px;
    display: flex;
}

.recipe-img {
    height: 270px;
    width: 250px;
    padding: 15px;
    margin-top: 25px;
}

.img-description-title-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 0;
}

.description-title-wrapper {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 200px; */
    align-items: center;
    /* margin: auto; */
    margin-right: 200px;
    margin-bottom: 165px;
}

.main-title {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 40px;
    /* font-weight: 900; */
    font-family: "BhuTuka Expanded One", cursive;
    font-family: "Mouse Memoirs", sans-serif;
    letter-spacing: 4px;
}

.description {
    text-align: center;
    margin-top: 15px;
}


/* .rating-container {
    margin-top: 0;
    width: 150px;
} */

.views {
    text-align: center;
    margin-bottom: 3px;
    font-size: large;
    font-weight: bold;
}

.views-rating-wrapper {
    float: right;
    padding: 0;
    margin-right: 18px;
}

.title {
    font-family: "BhuTuka Expanded One", cursive;
    font-family: "Mouse Memoirs", sans-serif;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: 500;
    color: white;
}

.ingredients-title {
    text-align: start;
    margin-left: 35px;
    margin-top: 20px;
}

.ingredient {
    text-align: start;
    margin-left: 35px;
    color: white;
}

.wrapped-heart {
    width: 58px;
    height: 58px;
    border: 2x solid black;
    font-size: 0;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    color: #60737e;
    margin-top: 30px;
}

.wrapped-heart:hover {
    background-color: #d5bbc4;
}


/* .ingredients-container {
} */

.preparation-container {
    margin-left: 58px;
    margin-top: 20px;
}

.preparation-title {
    margin-right: 35px;
    margin-top: 40px;
}

.preparation {
    margin-right: 35px;
    color: white;
}

.heart-save {
    height: 30px;
    width: 30px;
    margin-top: auto;
    margin-top: 17px;
}

.author {
    text-align: right;
    margin-top: auto;
    font-size: 30px;
    font-family: "Gamja Flower", cursive;
    color: white;
    margin-left: auto;
    margin-right: 35px;
}

@media (max-width: 575.98px) {
    .screen-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .recipe-overview {
        width: 375px;
        margin: auto;
        margin-top: 10px;
    }
    .main-title {
        font-size: 30px;
    }
    .recipe-img {
        height: 160px;
        width: 150px;
        padding: 0px;
        margin-right: 25px;
        margin-top: 5px;
    }
    .description-title-wrapper {
        margin-right: 30px;
        height: 10px;
    }
    .img-description-title-wrapper {
        height: 200px;
    }
    .rating-container {
        margin-left: 90px;
    }
    .views-rating-wrapper {
        width: 100%;
        margin: auto;
    }
    .description-title-wrapper {
        margin-left: 30px;
    }
    .recipe-overview {
        background-image: -webkit-linear-gradient(77deg, #60737e 59%, white 59%);
    }
    .section-two {
        min-height: 455px;
        /* width: 100px; */
        flex-wrap: wrap;
        /* flex-direction: column; */
    }
    .preparation-container {
        /* width: 30px; */
        margin-right: 0;
        margin-left: 12px;
        padding: 0;
        margin-top: 20px;
    }
    .ingredient-container {
        margin: 0;
    }
    .wrapped-heart {
        margin-top: 5px;
        width: 50px;
        height: 50px;
    }
    .ingredients-title {
        margin-left: 12px;
    }
    .preparation-title {
        margin: 0;
        margin-top: 40px;
    }
    .author {
        margin-right: 15px;
    }
}